    .main-logo {
        width: 100px;
        margin-left: 50px;
        padding: 20px;
        /* background: none; */
    }
    /* SEARCH-BAR
................*/
    
    .srchbar {
        display: flex;
        margin-top: -70px;
        font-family: Arial, Helvetica, sans-serif;
        align-items: center;
        width: 340px;
        height: 45px;
        justify-content: center;
        border: 1px solid grey;
        border-radius: 40px;
        /* margin: 5px; */
        margin-left: auto;
        margin-right: auto;
        /* opacity: 0.5; */
        box-shadow: rgb(192, 18, 18);
        /* transition: .4s; */
    }
    
    .srchbar:hover {
        box-shadow: 1px 2px;
        color: rgb(168, 164, 164);
        /* transition: .4s; */
    }
    
    .line a {
        color: black;
    }
    
    h5 h6 {
        display: flex;
        color: black;
        text-align: center;
        max-width: 100%;
        margin-left: 10px;
        font-weight: 700;
        padding: 11px;
        text-align: center;
    }
    
    h6 {
        padding-left: 50px;
    }
    
    .guests {
        opacity: 0.5;
    }
    
    .srchbar a {
        text-decoration: none;
        color: rgb(39, 31, 31);
    }
    
    .logosrch {
        letter-spacing: 1px;
    }
    
    .line {
        display: flex;
        border-right: 1px solid rgb(139, 130, 130);
        /* opacity: 0.5; */
        width: 100px;
        height: 20px;
        /* height: 20px; */
        /* border-bottom: -10px; */
        margin-left: 2px;
        width: 70px;
    }
    
    .guests {
        margin-right: -150px;
    }
    
    .line-adjust {
        display: flex;
        width: 50px;
        height: 50px;
        margin: 3px;
    }
    
    .logosrch {
        border-radius: 50px;
        background: #ff385c;
        padding: 10px;
        /* stroke: currentColor; */
        /* stroke-width: 50px; */
        color: #fff;
        margin-left: 230px;
        margin-bottom: 1px;
    }
    
    #become {
        display: flex;
        margin: 100px;
    }