    body {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
    .main-logo {
        width: 100px;
        margin-left: 50px;
        padding: 20px;
        /* background: none; */
    }
    /* SEARCH-BAR----NAV BAR
................*/
    
    .srchbar {
        display: flex;
        margin-top: -60px;
        font-family: Arial, Helvetica, sans-serif;
        align-items: center;
        width: 340px;
        height: 45px;
        justify-content: center;
        border: 1px solid grey;
        border-radius: 40px;
        /* margin: 5px; */
        margin-left: auto;
        margin-right: auto;
        /* opacity: 0.5; */
        box-shadow: rgb(192, 18, 18);
        /* transition: .4s; */
    }
    
    .srchbar:hover {
        box-shadow: 1px 2px;
        color: rgb(168, 164, 164);
        /* transition: .4s; */
    }
    
    .line a {
        color: black;
    }
    
    h5 h6 {
        display: flex;
        color: black;
        text-align: center;
        max-width: 100%;
        margin-left: 10px;
        font-weight: 700;
        padding: 11px;
        text-align: center;
    }
    
    h6 {
        padding-left: 50px;
    }
    
    .guests {
        opacity: 0.5;
    }
    
    .srchbar a {
        text-decoration: none;
        color: rgb(39, 31, 31);
    }
    
    .logosrch {
        letter-spacing: 1px;
    }
    
    .line {
        display: flex;
        border-right: 1px solid rgb(139, 130, 130);
        /* opacity: 0.5; */
        width: 100px;
        height: 20px;
        /* height: 20px; */
        /* border-bottom: -10px; */
        margin-left: 2px;
        width: 70px;
    }
    
    .guests {
        margin-right: -150px;
    }
    
    .line-adjust {
        display: flex;
        width: 50px;
        height: 50px;
        margin: 3px;
    }
    
    .logosrch {
        border-radius: 50px;
        background: #ff385c;
        padding: 10px;
        /* stroke: currentColor; */
        /* stroke-width: 50px; */
        color: #fff;
        margin-left: 230px;
        margin-bottom: 1px;
    }
    
    .become {
        text-align: right;
        font-size: 15px;
        display: flex;
        margin-top: -49px;
        margin-left: 1480px;
        opacity: 0.8;
        max-width: 100%;
        width: 110px;
        padding: 10px;
        border: 0px solid;
        border-radius: 20px;
    }
    
    .become:hover {
        background: rgb(224, 219, 219);
    }
    
    .world-logo img {
        display: flex;
        height: 21px;
        margin-left: 1610px;
        margin-top: -62px;
        max-width: 100%;
        padding: 10px;
        border: 0px solid;
        border-radius: 20px;
    }
    
    .world-logo img:hover {
        background: rgb(224, 219, 219);
        color: rgb(224, 219, 219);
    }
    
    .menu-bar {
        text-decoration: none;
    }
    
    .mobile-nav {
        border: 1px solid grey;
        width: 75px;
        height: 42px;
        border-radius: 20px;
        /* justify-content: center; */
        margin-left: 1675px;
        margin-top: -44px;
    }
    
    .bar {
        /* display: flex; */
        padding: 5px;
        margin-left: 5px;
        margin-top: 7px;
    }
    
    .profile {
        position: absolute;
        /* left: 10px; */
        border-radius: 21px;
        margin-left: 1px;
        margin-top: 5px;
    }
    
    .mobile-nav:hover {
        box-shadow: 0.6px 0.5px 0.5px;
    }
    
    .menu-bar ul {
        position: fixed;
        /* display: flex; */
        /* position: absolute; */
        margin-left: 1500px;
        padding: 10px;
        margin-top: 30px;
        /* text-decoration: none; */
        list-style: none;
        border: 0px solid grey;
        border-radius: 21px;
        max-width: 100%;
        width: 230px;
        height: 230px;
        box-shadow: 1px 2px 7px 1px;
        color: rgb(207, 200, 200);
        background: rgb(255, 255, 255);
    }
    
    #hr {
        opacity: 0.2;
    }
    
    .hr {
        width: 230px;
    }
    
    .menu-bar li {
        padding: 15px;
        margin-top: -5px;
    }
    
    #sign-up {
        font-size: medium;
        font-weight: 800;
        color: black;
    }
    
    #sign-up:hover {
        background: rgb(238, 231, 231);
    }
    
    .type {
        color: black;
        font-weight: 100;
    }
    
    .type:hover {
        background: rgb(238, 231, 231);
    }
    /* .bar img {
        display: flex;
        margin-left: 1690px;
        margin-top: -49px;
        padding: 20px;
    }
    
    .mobile-nav .profile {
        width: 29px;
        margin-left: 1715px;
        margin-top: -60px;
        border-radius: 50%;
    }
    
    .mobile-nav {
        border-radius:
    } */